[Unit]
Description=Music Player Daemon
After=syslog.target sound.service

[Service]
Type=forking
ExecStart=/usr/bin/mpd

[Install]
WantedBy=multi-user.target
